// SECTION stats :: START

section#stats.stats
  .stats__wrapper.stats__wrapper-0

    .stats__block
      .stats__block-bg
      .stats__block-triangle

      .stats__block-header
        .stats__block-header-bg
        .stats__block-title
          i.icon-font.icon-graph
          p!= "Stats"

        p.stats__block-text!= "Check the list for the most viewed items in the shop and the rarest items in Fortnite Battle Royale."

      .stats__block-body
        .stats__block-row
          .stats__block-category.stats__block-category-0
            .stats__block-category-bg
            i.icon-font.icon-table
            p!= "Most Displayed Items"

          each val, idx in [1,2,3,4,5]
            .stats__block-box
              div
                .b-skin.b-skin--small(
                  class!= (idx === 0) ? "b-skin--epic": (idx === 1) ? 'b-skin--rare': (idx === 2) ? 'b-skin--legendary': (idx === 3) ? 'b-skin--uncommon': 'b-skin--rare'
                )
                  img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

                  .b-skin__view
                    .e-skin__block-view
                      i.icon-font.icon-cube
                      span!= "3d"
              div
                p.stats__block-name!= "Skin Name"

                .stats__block-items
                  i
                  != "Seen 34 times"

        .stats__block-row
          .stats__block-category.stats__block-category-1
            .stats__block-category-bg
            i.icon-font.icon-diamond
            p!= "Most Rare Items"

          each val, idx in [1,2,3,4,5]
            .stats__block-box
              div
                .b-skin.b-skin--small(
                class!= (idx === 0) ? "b-skin--epic": (idx === 1) ? 'b-skin--rare': (idx === 2) ? 'b-skin--legendary': (idx === 3) ? 'b-skin--uncommon': 'b-skin--rare'
                )
                  img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

                  .b-skin__view
                    .e-skin__block-view
                      i.icon-font.icon-cube
                      span!= "3d"

              div
                p.stats__block-name!= "Skin Name"

                .stats__block-items
                  i
                  != "Seen 34 times"

        .stats__block-row
          .stats__block-category.stats__block-category-2
            .stats__block-category-bg
            i.icon-font.icon-cup
            p!= "Top Rated Items"

          each val, idx in [1,2,3,4,5]
            .stats__block-box
              div
                .b-skin.b-skin--small(
                class!= (idx === 0) ? "b-skin--epic": (idx === 1) ? 'b-skin--rare': (idx === 2) ? 'b-skin--legendary': (idx === 3) ? 'b-skin--uncommon': 'b-skin--rare'
                )
                  img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

                  .b-skin__view
                    .e-skin__block-view
                      i.icon-font.icon-cube
                      span!= "3d"

              div
                p.stats__block-name!= "Skin Name"

                .stats__block-like
                  a.comments__btn-like(href="#" class="" title="")
                    i.icon-font.icon-like
                    span!= "525"
                  a.comments__btn-dislike(href="#" class="" title="")
                    i.icon-font.icon-dislike
                    span!= "211"


  .stats__wrapper.stats__wrapper-1

    .stats__rarity
      .stats__rarity-bg
      .stats__rarity-header
        i.icon-font.icon-diamond
        p!= "All Shop Items by Rarity"
      .stats__rarity-body
        a.stats__rarity-btn.stats__rarity-btn--0(href="#" class="" title="")
          span!= "95 Items"
        a.stats__rarity-btn.stats__rarity-btn--1(href="#" class="" title="")
          span!= "138 Items"
        a.stats__rarity-btn.stats__rarity-btn--2(href="#" class="" title="")
          span!= "114 Items"
        a.stats__rarity-btn.stats__rarity-btn--3(href="#" class="" title="")
          span!= "33 Items"

  .stats__wrapper.stats__wrapper-2

    .stats__follow
      .stats__follow-bg
        span
        span

      .stats__follow-triangle
        img(src="./img/img-stats-follow-trangle-0.svg" srcset="" alt="" title="")
        img(src="./img/img-stats-follow-trangle-1.svg" srcset="" alt="" title="")
        img(src="./img/img-stats-follow-trangle-2.svg" srcset="" alt="" title="")
        img(src="./img/img-stats-follow-trangle-3.svg" srcset="" alt="" title="")
        img(src="./img/img-stats-follow-trangle-4.svg" srcset="" alt="" title="")

      .stats__follow-left
        p!= "Follow:"
      .stats__follow-right
        .filter__follow-share
          a(href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false")!= "Follow @TwitterDev"

        .filter__follow-share
          iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=124&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=326194251067521" width="220px" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media")


// SECTION stats :: END