// SECTION guides :: START

section#guides.guides

  .guides__bg
    .guides__bg-top

    img.guides__bg-triangle.guides__bg-triangle-0(src="./img/img-guides-triangle-0.svg" alt="" title="")
    img.guides__bg-triangle.guides__bg-triangle-1(src="./img/img-guides-triangle-1.svg" alt="" title="")

  .guides__triangle
    img.guides__triangle-img.guides__triangle-img-0(src="./img/img-guides-triangle-2.svg" alt="" title="")
    img.guides__triangle-img.guides__triangle-img-1(src="./img/img-guides-triangle-3.svg" alt="" title="")
    img.guides__triangle-img.guides__triangle-img-2(src="./img/img-guides-triangle-4.svg" alt="" title="")
    img.guides__triangle-img.guides__triangle-img-3(src="./img/img-guides-triangle-5.svg" alt="" title="")

  .c-grid

    .guides__wrapper.guides__wrapper-0

      .guides__title
        i.icon-font.icon-guides
        p!= "Fortnite Guides"

    .guides__wrapper.guides__wrapper-1

      .guides__block-wrapper
        .guides__block.guides__block-0
          img(src="./img/img-guides-0.png" srcset="./img/img-guides-0@2x.png 2x" alt="" title="")

          .guides__block-badge
            p!= "Featured Guide!"

          .guides__block-info
            p!= "Phasellus quis dapibus lacus, quis mattis nisi"
            span!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non congue nibh. Vivamus tempor sem ullamcorper viverra accumsan."

        .guides__block.guides__block-1
          img(src="./img/img-guides-1.png" srcset="./img/img-guides-1@2x.png 2x" alt="" title="")

          .guides__block-info
            p!= "quis dapibus lacus, quis mattis nisi"
            span!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non congue nibh. Vivamus tempor sem accumsan."

        .guides__block.guides__block-2
          img(src="./img/img-guides-2.png" srcset="./img/img-guides-2@2x.png 2x" alt="" title="")

          .guides__block-info
            p!= "dapibus lacus, quis as mattis nisi quis "
            span!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non congue nibh. Vivamus tempor sem accumsan."

    .guides__wrapper.guides__wrapper-2
      a.item__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "View More Guides <span>></span>"

// SECTION guides :: END