// SECTION home leaked skins :: START

section.home.home--leaded

  .section-resize(section-resize-js)
    .section-resize-bg
    .section-resize-triangle
      img(src="./img/img-home-leaked-triangle-0.svg" alt="" title="")
      img(src="./img/img-home-leaked-triangle-1.svg" alt="" title="")
      img(src="./img/img-home-leaked-triangle-2.svg" alt="" title="")

  .home__wrapper.home__wrapper-0
    .home__title
      i.icon-font.icon-preview
      p!= "Leaked Skins"

  .home__wrapper.home__wrapper-1

    .b-skin.b-skin--epic.b-skin--big
      img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

      .b-skin__view
        a.b-skin__sound(href="#" class="" title="")
          i.icon-font.icon-sound

        .e-skin__block-view
          i.icon-font.icon-cube
          span!= "3d"

      .b-skin__info
        p!= "Skin Name"

    .b-skin.b-skin--rare.b-skin--big
      img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

      .b-skin__view
        a.b-skin__sound(href="#" class="" title="")
          i.icon-font.icon-sound

      .b-skin__info
        p!= "Skin Name"

    .b-skin.b-skin--epic.b-skin--big
      img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

      .b-skin__view
        a.b-skin__sound(href="#" class="" title="")
          i.icon-font.icon-sound

        .e-skin__block-view
          i.icon-font.icon-cube
          span!= "3d"

      .b-skin__info
        p!= "Skin Name"

    .b-skin.b-skin--rare.b-skin--big
      img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

      .b-skin__view
        a.b-skin__sound(href="#" class="" title="")
          i.icon-font.icon-sound

      .b-skin__info
        p!= "Skin Name"

  .home__wrapper.home__wrapper-2
    a.c-btn.c-btn--bg(href="#" class="" title="")!= "View More <span>></span>"

// SECTION home leaked skins :: END