// SECTION filter :: START

section#filter.filter

  .filter__bg

  .filter__trinagle
    img(src="./img/img-filter-triangle-0.svg" alt="" title="")
    img(src="./img/img-filter-triangle-1.svg" alt="" title="")

  .c-grid
    form.filter__wrapper.c-form(action='' method='' autocomplete='off')
      .filter__wrapper-left

        .filter__category-wrapper

          // 1 col
          .filter__category.filter__category-0

            .filter__category-title
              select(class="filter_0" title="Select Category")
                option!= "Mustard"
                option!= "Ketchup"
                option!= "Barbecue"

            .filter__category-content
              p.filter__category-subtitle!= "Rarity:"

              +formCheckbox(dataFormObj.checkboxFieldLegendary)(checked="checked")
              +formCheckbox(dataFormObj.checkboxFieldEpic)(checked="checked")
              +formCheckbox(dataFormObj.checkboxFieldRare)(checked="checked")
              +formCheckbox(dataFormObj.checkboxFieldUncommon)(checked="checked")
              +formCheckbox(dataFormObj.checkboxFieldCommon)(checked="checked")

              .filter__category-checkbox
                +formCheckbox(dataFormObj.checkboxField1)
                +formCheckbox(dataFormObj.checkboxField2)
                +formCheckbox(dataFormObj.checkboxField3)
                +formCheckbox(dataFormObj.checkboxField4)

          // 2 col
          .filter__category.filter__category-1

            .filter__category-title
              select(class="filter_1" title="Select Set")
                option!= "Mustard"
                option!= "Ketchup"
                option!= "Barbecue"

            .filter__category-content
              p.filter__category-subtitle!= "Types:"


              +formCheckbox(dataFormObj.checkboxField5)
              +formCheckbox(dataFormObj.checkboxField6)

              .filter__category-checkbox.filter__category-checkbox--0
                +formCheckbox(dataFormObj.checkboxField7)
                +formCheckbox(dataFormObj.checkboxField8)
                +formCheckbox(dataFormObj.checkboxField9)
                +formCheckbox(dataFormObj.checkboxField10)
                +formCheckbox(dataFormObj.checkboxField11)
                +formCheckbox(dataFormObj.checkboxField12)

              .filter__category-checkbox.filter__category-checkbox--1
                +formCheckbox(dataFormObj.checkboxFieldSoldier)

              .filter__category-checkbox.filter__category-checkbox--2
                .filter__category-soldier
                  each val, idx in [1,2,3,4,5,6,7,8]
                    a(href="#" class="" title="")
                      img(src="./img/img-skin-ts.png" alt="" title="")

          .filter__category.filter__category-2

            .filter__category-main.filter__category-main--0(data-checkboxHead='0')
              span
              span
              div
                img(src="./img/img-battle-pass-filter.png" srcset="./img/img-battle-pass-filter@2x.png 2x" alt="" title="")
                +formCheckbox(dataFormObj.checkboxFieldBattlePass)

            .filter__category-checkbox.filter__category-checkbox--0(data-checkboxBody='0')
              +formCheckbox(dataFormObj.checkboxField13)(disabled='disabled')
              +formCheckbox(dataFormObj.checkboxField14)(disabled='disabled')
              +formCheckbox(dataFormObj.checkboxField15)(disabled='disabled')
              +formCheckbox(dataFormObj.checkboxField16)(disabled='disabled')
              +formCheckbox(dataFormObj.checkboxField17)(disabled='disabled')

            .filter__category-main.filter__category-main--1(data-checkboxHead='1')
              span
              span
              div
                img(src="./img/img-battle-vbucks-filter.png" srcset="./img/img-battle-vbucks-filter@2x.png 2x" alt="" title="")
                +formCheckbox(dataFormObj.checkboxFieldVBucks)

            .filter__category-checkbox.filter__category-checkbox--0(data-checkboxBody='1')
              +formCheckbox(dataFormObj.checkboxField18)(disabled='disabled')
              +formCheckbox(dataFormObj.checkboxField19)(disabled='disabled')
              +formCheckbox(dataFormObj.checkboxField20)(disabled='disabled')
              +formCheckbox(dataFormObj.checkboxField21)(disabled='disabled')

      .filter__wrapper-right

        include ../common/_sectionBanner

        a.filter__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Apply Filter <span>></span>"

    .filter__follow
      .filter__follow-bg

      p!= "Follow:"
      .filter__follow-share
        a(href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false")!= "Follow @TwitterDev"

      .filter__follow-share
        iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=124&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=326194251067521" width="220px" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media")


// SECTION filter :: END