// SECTION emotes skin :: START

mixin emotesSkinBlock(classMod, classSkinName, badgeName, imgName)
  .e-skin__block(class!= "e-skin__block-" + classMod + ' e-skin__block--' + classSkinName)
    .e-skin__block-left
      a(href='#').e-skin__block-image

        img(src="./img/" + imgName + ".png" srcset="./img/" + imgName + "@2x.png 2x" alt="" title="")

        .e-skin__block-badge
          i.icon-font.icon-diamond
          span!= badgeName

        .e-skin__block-view
          i.icon-font.icon-cube
          span!= "3d"

    .e-skin__block-right
      .e-skin__block-figure
        img(src="./img/img-skin-triangle-0.svg" alt="" title="")
        img(src="./img/img-skin-triangle-1.svg" alt="" title="")
        img(src="./img/img-skin-triangle-2.svg" alt="" title="")

      .e-skin__block-content
        a(href="#" class="" title="")
          h3.e-skin__block-name!= "Skin name"
        .e-skin__block-points
          img(src="./img/img-skin-points.png" srcset="./img/img-skin-points@2x.png 2x" alt="" title="")
          span!= "1500"

        p.e-skin__block-desc!= "Lorem ipsum dolor sit amet, cetur adipiscing elit. Nunc non congue nibh. Vivamus tempor sem."
        p.e-skin__block-date!= "<span>October 10, 2018</span> | <span><a href='#'>Emotes</a></span>"
        a.e-skin__block-comments(href="#" class="" title="")
          i.icon-font.icon-bubble
          span!= "35 comments"


section#e-skin.e-skin
  .e-skin__wrapper

    .e-skin__block-wrapper

      each val, idx in [0,1,2,3,4,5,6]
        +emotesSkinBlock(idx, 'epic', 'epic', 'img-skin-epic')
        +emotesSkinBlock(idx, 'uncommon', 'uncommon', 'img-skin-uncommon')
        +emotesSkinBlock(idx, 'rare', 'rare', 'img-skin-rare')
        +emotesSkinBlock(idx, 'epic', 'epic', 'img-skin-epic-0')


// SECTION emotes skin :: END