// SECTION rarity :: START

section#rarity.rarity
  .rarity__figure
    img(src="./img/img-rarity-figure-0.svg" alt="" title="")
    img(src="./img/img-rarity-figure-1.svg" alt="" title="")

  .rarity__triangle
    img(src="./img/img-rarity-triangle-0.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-1.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-2.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-3.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-4.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-5.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-6.svg" alt="" title="")

  .rarity__wrapper
    .rarity__row.rarity__row-0
      p.rarity__title!= "Rarity:"

      .rarity__btn-wrapper.rarity__btn-wrapper-0
        div
          a.rarity__btn.rarity__btn--legendary(href="#" class="" title="")!= "Legendary<br>Emotes"
        div
          a.rarity__btn.rarity__btn--uncommon(href="#" class="" title="")!= "Uncommon<br>Emotes"
        div
          a.rarity__btn.rarity__btn--rare(href="#" class="" title="")!= "Rare Emotes"
        div
          a.rarity__btn.rarity__btn--epic(href="#" class="" title="")!= "Epic Emotes"
        div
          a.rarity__btn.rarity__btn--default(href="#" class="" title="")!= "Common Emotes"

    .rarity__row.rarity__row-1
      p.rarity__title!= "Categories:"

      .rarity__btn-wrapper.rarity__btn-wrapper-1
        a.rarity__btn.rarity__btn--gray(href="#" class="" title="")!= "Holiday Emotes"
        a.rarity__btn.rarity__btn--gray(href="#" class="" title="")!= "Battle pass Emotes"

// SECTION rarity :: END