// SECTION history latest :: START

section#h-latest.h-latest

  .h-latest__bg

  .h-latest__triangle
    img(src="./img/img-h-latest-triangle-0.svg" alt="" title="")
    img(src="./img/img-h-latest-triangle-1.svg" alt="" title="")
    img(src="./img/img-h-latest-triangle-2.svg" alt="" title="")
    img(src="./img/img-h-latest-triangle-3.svg" alt="" title="")

  .h-latest__wrapper

    .h-latest__head

      .h-latest__title
        i.icon-font.icon-strike-month
        p!= "Latest Rotations"

    .h-latest__body

      each val, idx in [1,2,3,4]
        .h-latest__block
          .daily__block(class!= "daily__block-" + idx)
            .daily__block-bg
              span
              span

            .daily__block-top
              .daily__block-title!= "August 10, 2018"

            .daily__block-bottom
              .daily__block-left
                p.daily__block-total!= "<span>Total Price:</span> <img src=\"./img/img-skin-points.png\" srcset=\"./img/img-skin-points@2x.png 2x\" alt=\"\" title=\"\"> <i>12,000</i>"
                p.daily__block-featured!= "<span>Featured:</span> 5 items"
                p.daily__block-items!= "<span>daily:</span> 6 items"

              .daily__block-right
                a.daily__block-btn(href="#" class="" title="")!= "Check it out!"

    .h-latest__footer
      .h-latest__follow
        p!= "Follow:"
        div

// SECTION history latest :: END