// SECTION history graph :: START

section#h-graph.h-graph

  .h-graph__bg

  .h-graph__triangle
    img(src="./img/img-h-graph-triangle-0.svg" alt="" title="")
    img(src="./img/img-h-graph-triangle-1.svg" alt="" title="")

  .h-graph__wrapper

    .h-graph__head
      .h-graph__title
        i.icon-font.icon-chart
        p!= "Statistics"

    .h-graph__body
      .h-graph__block.h-graph__block-0
        .h-graph__block-triangle
          img(src="./img/img-h-graph-block-triangle-0.svg" alt="" title="")
          img(src="./img/img-h-graph-block-triangle-1.svg" alt="" title="")

        .h-graph__block-left

          .h-graph__block-graph
            img(src="./img/graph-1.png" srcset="./img/graph-1@2x.png 2x" alt="" title="")
            canvas(id="graph-0" width='326' height='324')

        .h-graph__block-right
          .h-graph__block-info
            .h-graph__block-info-bg
              span
              span
            .h-graph__block-info-content
              .h-graph__block-info-box
                div.flamenco
                p!= "Outfits"
              .h-graph__block-info-box
                div.heliotrope
                p!= "Gliders"
              .h-graph__block-info-box
                div.summer-sky
                p!= "Pickaxes"
              .h-graph__block-info-box
                div.yellow-green
                p!= "Emotes"

      .h-graph__block.h-graph__block-1
        .h-graph__block-triangle
          img(src="./img/img-h-graph-block-triangle-2.svg" alt="" title="")
          img(src="./img/img-h-graph-block-triangle-3.svg" alt="" title="")
          img(src="./img/img-h-graph-block-triangle-4.svg" alt="" title="")

        .h-graph__block-left

          .h-graph__block-graph
            img(src="./img/graph-2.png" srcset="./img/graph-2@2x.png 2x" alt="" title="")
            canvas(id="graph-1" width='326' height='324')

        .h-graph__block-right
          .h-graph__block-info
            .h-graph__block-info-bg
              span
              span
            .h-graph__block-info-content
              .h-graph__block-info-box
                div.opal
                p!= "Daily"
              .h-graph__block-info-box
                div.rose-bud
                p!= "Featured"

      .h-graph__block.h-graph__block-2
        .h-graph__block-triangle
          img(src="./img/img-h-graph-block-triangle-5.svg" alt="" title="")
          img(src="./img/img-h-graph-block-triangle-6.svg" alt="" title="")

        .h-graph__block-left

          .h-graph__block-graph
            img(src="./img/graph-3.png" srcset="./img/graph-3@2x.png 2x" alt="" title="")
            canvas(id="graph-2" width='326' height='324')

        .h-graph__block-right
          .h-graph__block-info
            .h-graph__block-info-bg
              span
              span
            .h-graph__block-info-content
              .h-graph__block-info-box
                div.burgundy
                p!= "Legendary"
              .h-graph__block-info-box
                div.twilight
                p!= "Rare"
              .h-graph__block-info-box
                div.dark-orange
                p!= "Epic"
              .h-graph__block-info-box
                div.magic-mint
                p!= "Uncommon"

    .h-graph__footer
      .h-graph__info
        .h-graph__info-date
          i.icon-font.icon-calendar-wr
          p!= "July 25, 2018"

        span!= "|"

        .h-graph__info-badge
          i.icon-font.icon-ribbon
          p!= "Sales History"

        span!= "|"

        .h-graph__info-comment
          i.icon-font.icon-bubble
          p!= "1 comment"

// SECTION history graph :: END