// SECTION beginners description :: START

section.beginners.beginners--description

  .beginners__wrapper

    .beginners__description.beginners__description-0
      .beginners__bg
      .beginners__triangle
        img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

      .beginners__description-header
        p!= "1. Start of The Game"

      .beginners__description-body

        p!= "On the island where you descend at the start of the game, there are different unique cities with their own style of building. Each city is colored brightly, and the map as a whole has many buildings where loots are randomly scattered, e.g., guns and healing items."

        .beginners__description-img
          div
            img(src="./img/img-b-description-0.jpg" srcset="./img/img-b-description-0@2x.jpg 2x" alt="" title="")


    .beginners__description.beginners__description-1
      .beginners__bg
      .beginners__triangle
        img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

      .beginners__description-header
        p!= "2. Try to Find Loots"

      .beginners__description-body

        p!= "When a match starts, it is important that you get your hands on as many loots as you can acquire. You need to get weapons that will keep you in the game, you also need resources for building your defenses. For weapons, <span>the best items</span> you should try to get are <span>Shotgun</span>, <span>Assault rifle</span>, and <span>Sniper Rifle</span>. These three weapons serve as an excellent addition to your arsenal as they dole out heavy punches on opponents and they give you the much-needed headstart you need."

        .beginners__description-img
          div
            img(src="./img/img-b-description-1.jpg" srcset="./img/img-b-description-1@2x.jpg 2x" alt="" title="")

        p!= "Keep in mind to get the best sniper rifle as there are different kinds. These elite weapons will work best only if you are steady with your aim. An unsteady aim will waste your ammo and will leave you open to attacks. When starting out, aim to minimize deaths. Don’t go on a killing spree. Actually, it’s good to chase fights so as to learn the game, but don’t focus entirely on the number of enemies you kill. You can loot enemies also, but carefully survey the surroundings and ensure that you’re safe to secure your steal."

    .beginners__description.beginners__description-2
      .beginners__bg
      .beginners__triangle
        img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

      .beginners__description-header
        p!= "3. Just Take What’s Most Important"

      .beginners__description-body

        p!= "The game’s inventory contains just five slots for you to collect both guns, explosives, and healing items. It is vital that you have a good balance between the various loots you pick up as you play. Fortnite gives players a lot of possible ways to match weapons so that even if you’ve not acquired the best items you desire, you’ll still be formidable in some ways while playing."

        .beginners__description-img
          div
            img(src="./img/img-b-description-2.jpg" srcset="./img/img-b-description-2@2x.jpg 2x" alt="" title="")

        p!= "The chaotic and interesting gameplay makes the fighting a little bit complicated. It is a considerably fast-paced system where fights can end very quickly. This characteristic makes it quite different from other battle royale games that involve longer standoffs."

    .beginners__description.beginners__description-3
      .beginners__bg
      .beginners__triangle
        img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

      .beginners__description-header
        p!= "4. Building System"

      .beginners__description-body

        p!= "Building in Fortnite is incredible also. The building system is similar to what is found in Save the World. Almost anything on the ground such as wood, stone, steel can be mined for building stairs, floors, and walls anywhere on the map. The map is a massive expanse where so many things can happen. At first, it may be hard to build structures like other players, but the simplicity of the game will help you understand the technique very quickly."

        .info__subtitle
          p!= "A Building Guide by Abyssalheaven"

        .beginners__description-img--wrapper
          .beginners__description-img
            div
              img(src="./img/img-b-description-3.jpg" srcset="./img/img-b-description-3@2x.jpg 2x" alt="" title="")

          .beginners__description-img
            div
              img(src="./img/img-b-description-4.jpg" srcset="./img/img-b-description-4@2x.jpg 2x" alt="" title="")

        p!= "Almost every structure or object in the game can be pulled down. Trees, walls and anything you build can be shot down by enemies in a bid to get to you. Avoid staying in one position for too long so you can escape enemy attacks."

    .beginners__description.beginners__description-4
      .beginners__bg
      .beginners__triangle
        img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

      .beginners__description-header
        p!= "5. Map Strategies"

      .beginners__description-body

        p!= "When it comes to traversing the terrain, the Fortnite game is quite different from <span>PUGB</span>. In Fortnite, you can build stairs and climb up steep hills, you need to get used to these new mechanics as they are necessary for survival. You can place your walls anywhere, this is something you can use to your advantage if you are vulnerable to attack at that moment."
        span!= "There are two map strategies you can use to gain the upper hand in Fortnite: Battle Royale."

        .beginners__notes
          .beginners__notes-triangle
            img(src="./img/img-b-notes-triangle-4.svg" alt="" title="")
            img(src="./img/img-b-notes-triangle-5.svg" alt="" title="")
            img(src="./img/img-b-notes-triangle-6.svg" alt="" title="")
            img(src="./img/img-b-notes-triangle-7.svg" alt="" title="")

          .beginners__notes-wrapper
            .beginners__notes-left
              i.icon-png.arrow
            .beginners__notes-right
              p!= "The first, which is the most reliable strategy, have you rushing every time to the epicenter of each new circle immediately. After doing this, you then try to stay on top of the match. Once you take a position at the center, you can begin to use your early knowledge of the terrain to plan out your attack strategy as quickly as possible."

        .beginners__notes
          .beginners__notes-triangle
            img(src="./img/img-b-notes-triangle-4.svg" alt="" title="")
            img(src="./img/img-b-notes-triangle-5.svg" alt="" title="")
            img(src="./img/img-b-notes-triangle-6.svg" alt="" title="")
            img(src="./img/img-b-notes-triangle-7.svg" alt="" title="")

          .beginners__notes-wrapper
            .beginners__notes-left
              i.icon-png.arrow
            .beginners__notes-right
              p!= "The second strategy is based on a big kill strategy, wherein you play continuously at the edge of the map and waiting for other players to fall into your trap. From this vantage point, you can be able to pick off enemies as they rush to the next playable area. This strategy takes a lot of practice and luck to pull off but is indeed practicable."


    .beginners__description.beginners__description-5
      .beginners__bg
      .beginners__triangle
        img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

      .beginners__description-header
        p!= "6. Positioning"

      .beginners__description-body

        p!= "Generally, when it comes to positioning, high ground is always the best option. It provides a better view of your surroundings and makes it hard for your enemies to retaliate against your attacks. It also gives you the best avenue to flee a fight if your enemy is really firing you. You can always craft your way very quickly on sharp slopes if you want to establish a great camping area."

        .beginners__description-img
          div
            img(src="./img/img-b-description-5.jpg" srcset="./img/img-b-description-5@2x.jpg 2x" alt="" title="")

        a(href="#" class="" title="")!= "Credit: Blitz (youtube.com/channel/UCK3eoeo-HGHH11Pevo1MzfQ)"

        p!= "While moving around any area on the map, be very observant of your environment, as there are many visual and audio cues that can hint you on opponent’s hiding place. If you suspect that an enemy is close to you, quickly crouch, as it will muffle your footsteps and give you the opportunity to plan your deadly attack."

    .beginners__description.beginners__description-6
      .beginners__bg
      .beginners__triangle
        img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
        img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

      .beginners__description-header
        p!= "7. Get Resources"

      .beginners__description-body

        p!= "Additionally, aim to get about 300 of each resource on you at any time. While getting the strongest weapons and more enemy kills is cool, building resources are invaluable. You don’t want to be in a situation where you can’t build a structure when you’re under enemy pressure. As a general rule, wood is good for quick structures, but stone and metal are perfect for building stronger forts."

        .beginners__description-img
          div
            img(src="./img/img-b-description-6.jpg" srcset="./img/img-b-description-6@2x.jpg 2x" alt="" title="")

        p!= "As a new player, it is also important that you quickly comprehend the controls as soon as possible. Mastering the controls may be pivotal to acquiring the best weapons and evading enemy attack."


// SECTION beginners description :: END