// FOOTER :: START

footer#footer.footer

  svg.footer__triangle.footer__triangle-0(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="99px" height="56px")
    path(fill-rule="evenodd"  fill="rgb(6, 10, 20)" d="M98.434,21.897 L0.923,0.485 L90.008,55.477 L98.434,21.897 Z")

  svg.footer__triangle.footer__triangle-1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71px" height="38px")
    path(fill-rule="evenodd"  fill="rgb(6, 10, 20)" d="M0.488,10.084 L71.000,37.999 L32.304,0.454 L0.488,10.084 Z")

  .footer__wrapper
    .footer__wrapper-top
      .c-grid

          svg.footer__bg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="416px" height="315px")
            path(fill-rule="evenodd"  fill="rgb(9, 14, 26)" d="M-0.000,8.999 L416.000,-0.001 L410.017,314.999 L4.983,303.999 L-0.000,8.999 Z")

          .footer__row.footer__row-0
            .footer__col.footer__col-0
              p.footer__title
                span!= "Related Websites"
                i

              // footer navigation 1
              .footer__nav
                a.footer__nav-link(href="http://www.epicgames.com" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "epicgames.com"
                a.footer__nav-link(href="http://www.fortnite.com" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "fortnite.com"
                a.footer__nav-link(href="http://www.samplewebsite.com" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "samplewebsite.com"
                a.footer__nav-link(href="http://www.websample.net" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "websample.net"
                a.footer__nav-link(href="http://www.weblorem.com" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "weblorem.com"

            .footer__col.footer__col-1
              p.footer__title
                span!= "Navigate Site"
                i

              // footer navigation 2
              .footer__nav
                .footer__nav-wrapper
                  div
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Home"
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Emotes"
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Outfits"
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Pickaxes"
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Gliders"
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Guides"

                  div
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Terms"
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "Support"
                    a.footer__nav-link(href="#" target="_blank" class="" title="")
                      span
                        i.icon-font.icon-triangle-rotate
                      p!= "FAQs"

            .footer__col.footer__col-2
              p.footer__title
                span!= "Lorem Ipsum"
                i

              // footer navigation 3
              .footer__nav
                a.footer__nav-link(href="#" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "Dolor sit"
                a.footer__nav-link(href="#" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "Amet En"
                a.footer__nav-link(href="#" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "Consectetuer"
                a.footer__nav-link(href="#" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "Dipa Laresponsi"
                a.footer__nav-link(href="#" target="_blank" class="" title="")
                  span
                    i.icon-font.icon-triangle-rotate
                  p!= "Coraz timbre"

            .footer__col.footer__col-3

              p.footer__title
                span!= "Read The Newsletter"
                i

              // newsletter
              .newsletter
                p.newsletter__text!= "Phasellus quis dapibus lacus, quis mattis nisi. Nulla facilisi. Cras vel tellus et justo rhoncus ultricies. Integer tincidunt ac magna ut fermentum."

                form.newsletter__form(action='' method='' autocomplete='off')
                  .newsletter__form-cover
                    .newsletter__form-input
                      input(type="text" name="" placeholder="Email Address")
                    .newsletter__form-btn
                      button(type="submit")
                        i.icon-font.icon-send

    .footer__wrapper-bottom
      .c-grid
        .footer__row.footer__row-1
          .footer__col.footer__col-0

            // copyright
            .copyright
              p!= "Copyright © 2018 <span>Fortninte Skins.</span> All Rights Reserved"

          .footer__col.footer__col-1

            // social
            .social
              a.social__link(href="#" class="" title="")
                i.icon-font.icon-facebook
              a.social__link(href="#" class="" title="")
                i.icon-font.icon-twitter
              a.social__link(href="#" class="" title="")
                i.icon-font.icon-google-plus
              a.social__link(href="#" class="" title="")
                i.icon-font.icon-rss
              a.social__link(href="#" class="" title="")
                i.icon-font.icon-pinterest
              a.social__link(href="#" class="" title="")
                i.icon-font.icon-instagram

// FOOTER :: END