// FOOTER :: START

footer#footer.footer

  if(pageClassName === 'p-404')
    .nfound__traiangle(parallax-404-js)
      img.nfound__traiangle-img.nfound__traiangle-img-0(
        src="./img/img-404-triangle-0.svg" alt="" title=""
        data-stellar-ratio="0.965"
      )
      img.nfound__traiangle-img.nfound__traiangle-img-1(
        src="./img/img-404-triangle-1.svg" alt="" title=""
        data-stellar-ratio="0.975"
      )
      img.nfound__traiangle-img.nfound__traiangle-img-2(
        src="./img/img-404-triangle-2.svg" alt="" title=""
        data-stellar-ratio="1.035"
      )
      img.nfound__traiangle-img.nfound__traiangle-img-3(
        src="./img/img-404-triangle-3.svg" alt="" title=""
        data-stellar-ratio="0.975"
      )

  .footer__bar

  .footer__wrapper
    .footer__wrapper-top
      .c-grid
        .footer__row.footer__row-0
          .footer__col.footer__col-0
            .footer__title
              h3!= "Related Websites"
              i

            // footer navigation 1
            .footer__nav
              a.footer__nav-link(href="http://www.epicgames.com" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "epicgames.com"
              a.footer__nav-link(href="http://www.fortnite.com" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "fortnite.com"
              a.footer__nav-link(href="http://www.samplewebsite.com" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "samplewebsite.com"
              a.footer__nav-link(href="http://www.websample.net" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "websample.net"
              a.footer__nav-link(href="http://www.weblorem.com" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "weblorem.com"

          .footer__col.footer__col-1
            .footer__title
              h3!= "Navigate Site"
              i

            // footer navigation 2
            .footer__nav
              .footer__nav-wrapper
                div
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Home"
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Emotes"
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Outfits"
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Pickaxes"
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Gliders"
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Guides"

                div
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Terms"
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "Support"
                  a.footer__nav-link(href="#" target="_blank" class="" title="")
                    span
                      i.icon-font.icon-triangle-rotate
                    p!= "FAQs"

          .footer__col.footer__col-2
            .footer__title
              h3!= "Lorem Ipsum"
              i

            // footer navigation 3
            .footer__nav
              a.footer__nav-link(href="#" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "Dolor sit"
              a.footer__nav-link(href="#" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "Amet En"
              a.footer__nav-link(href="#" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "Consectetuer"
              a.footer__nav-link(href="#" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "Dipa Laresponsi"
              a.footer__nav-link(href="#" target="_blank" class="" title="")
                span
                  i.icon-font.icon-triangle-rotate
                p!= "Coraz timbre"

          .footer__col.footer__col-3

            .footer__title
              h3!= "Read The Newsletter"
              i

            // newsletter
            .newsletter
              p.newsletter__text!= "Phasellus quis dapibus lacus, quis mattis nisi. Nulla facilisi. Cras vel tellus et justo rhoncus ultricies. Integer tincidunt ac magna ut fermentum."

              form.newsletter__form(action='' method='' autocomplete='off')
                .newsletter__form-cover
                  .newsletter__form-input
                    input(type="text" name="" placeholder="Email Address")
                  .newsletter__form-btn
                    button(type="submit")
                      i.icon-font.icon-send

    .footer__wrapper-bottom
      .c-grid
        .footer__row.footer__row-1
          .footer__col.footer__col-0

            // copyright
            .copyright
              p!= "Copyright © 2018 <span>Fortninte Skins.</span> All Rights Reserved"

          .footer__col.footer__col-1

            // social
            .social
              a.social__link.social__link--facebook(href="#" class="" title="")
                i.icon-font.icon-facebook
              a.social__link.social__link--twitter(href="#" class="" title="")
                i.icon-font.icon-twitter
              a.social__link.social__link--google-plus(href="#" class="" title="")
                i.icon-font.icon-google-plus
              a.social__link.social__link--rss(href="#" class="" title="")
                i.icon-font.icon-rss
              a.social__link.social__link--pinterest(href="#" class="" title="")
                i.icon-font.icon-pinterest
              a.social__link.social__link--instagram(href="#" class="" title="")
                i.icon-font.icon-instagram

// FOOTER :: END