// HEADER :: START

header#header.header
  .c-grid
    .header__wrapper
      .header__col.header__col-0

        // logotype
        +logotypePicture('header', '', false, '', 'object-fit--coverCenter', 'img-logo', 'png')

        // hamburger
        +hamburgerCustom()

      // mobile and desktop menu - change in style
      .header__col.header__col-mobile(mobile-block-js)
        .header__col.header__col-1

          // header navigation
          .header__nav

            // header navigation button
            .header__nav-left
              a.header__nav-btn(href="#" class="" title="")
                span
                  i.icon-font.icon-all
                p!= "All"
              a.header__nav-btn(href="#" class="" title="")
                span
                  i.icon-font.icon-sets
                p!= "Sets"
              a.header__nav-btn(href="#" class="" title="")
                span
                  i.icon-png.i-preview-small
                p!= "Leaked"
              a.header__nav-btn(href="#" class="" title="")
                span
                  i.icon-font.icon-shop
                p!= "Shop"

            // header navigation link with dropdown
            .header__nav-right
              a.header__nav-link(href="#" class!= (pageClassName === 'p-home') ? 'is-active': '' title="")!= "Home"
              a.header__nav-link(href="#" class="" title="")!= "Emotes"
              a.header__nav-link(href="#" class="" title="")!= "Outfits"
              a.header__nav-link(href="#" class="" title="")!= "Pickaxes"
              a.header__nav-link(href="#" class="" title="")!= "Gliders"
              .header__nav-link--wrapper
                a.header__nav-link(
                  href="#" class="" title=""
                  id="dropdownHeaderLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                )
                  span!= "Tools"
                  i

                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownHeaderLink')
                  a(href="#" class="" title="")!= "Action"
                  a(href="#" class="" title="")!= "Another action"
                  a(href="#" class="" title="")!= "Something else here"

        .header__col.header__col-2

          // header search button
          .header__search
            input(type="text" placeholder='Search')
            a.header__search-btn(href="#" class="" title="" search-btn-js)
              i.icon-font.icon-search

// HEADER :: END