---
title: Fortnite - Battle pass rewards

pageClassName: p-rewards
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/common/_mainBanner
    include ./components/rewards/_rewards

    .info.info--rewards
      .c-grid
        .info__content

          .info__content-figure(parallax-pp-content-js)
            img(
              src="./img/img-pp-content-figure-0.svg" alt="" title=""
            )
            img(
              src="./img/img-pp-content-figure-1.svg" alt="" title=""
            )
            img(
              src="./img/img-pp-content-figure-2.svg" alt="" title=""
            )
            img(
              src="./img/img-pp-content-figure-3.svg" alt="" title=""
            )

          .info__section.info__section-main
            .info__text
              p!= "<strong>Season 3</strong> has arrived, and a new set of challenges and rewards is here. Outfits, gliders, back blings, emoticons, emotes, pickaxes, V-Bucks and loading screens are waiting to be unlocked as you fight yourself through the season."

          .info__section.info__section-0
            .info__section-left
              .info__subtitle
                p!= "What is the Battle Pass?"

              .info__text
                p!= "The Battle Pass is a tier system with sets of challenges and rewards unique for each season. There are two different passes available: The Free Pass and the Battle Pass. While the Free Pass allows you to unlock a few rewards free of charge, most epic loot is found through the Battle Pass which can be bought for 950 V-Bucks (about $9.5). Completing challenges grants you Season XP and Battle Stars. Obtaining 10 Battle Stars will advance your Battle Pass by one tier."

            .info__section-right

              include components/common/_sectionBanner

          .info__section.info__section-1
            .info__subtitle
              p!= "Challenges and Rewards"

            .info__text
              p!= "Every day you will find daily challenges such as searching 8 chests, getting 5 shotgun kills and surviving longer than your enemies. Additionally, there are weekly challenges of greater difficulty. These are exclusive to the Battle Pass owners and will grant you individual rewards in addition to an XP reward upon completing all of them. Upon reaching Tier 100 (max tier), the player will not only receive the Reaper Outfit, but also a set of Battle Pass Tier 100 Challenges which give you additional rewards upon completion."

          .info__section.info__section-2
            .info__subtitle
              p!= "Others Grants"

            .info__text
              p!= "Upon purchasing the Battle Pass, you will receive a 50% XP boost which increases as you level up. Additionally, you will have a shared 10% XP boost for when you play in duos or squads. The tier 1 reward for this season is the Mission Specialist outfit, turning you into a space explorer. What better way is there to launch into a new season?"
              p!= "<strong>NOTE:</strong> The Battle Pass is unique for every season. Once Season 4 arrives, players must buy a new battle pass to obtain the Season 4 rewards. Your Season 3 tier resets, but the rewards obtained through the past season can be found in your locker/lobby for you equip."


    include ./components/common/_breadcrumbs
    include ./components/common/_comments
