// SECTION breadcrumbs :: START

-
  var rewardsDataArr = ['Home', 'Battlepass', 'Season 3 Battle Pass Rewards'];
  var historyDataArr = ['Home', 'Shop History', '07.26.2018'];
  var skinDataArr = ['Home', 'Outfits', 'Red Knight'];
  var berginnerDataArr = ['Home', 'Guides', 'Fortnite Battle Royale: Beginner’s Tips'];
  var combosDataArr = ['Home', 'Outfits', 'Red Knight'];

section#breadcrumbs.breadcrumbs
  .c-grid
    .breadcrumbs__wrapper

      if(pageClassName === 'p-rewards')
        ul.breadcrumbs__list
          each val, idx in rewardsDataArr
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#" class="" title="")!= val

            if(idx < rewardsDataArr.length - 1)
              li.breadcrumbs__item
                span.breadcrumbs__icon
                  i.icon-font.icon-arr-dcc
                  i.icon-font.icon-arr-dcc

      else if(pageClassName === 'p-history')
        ul.breadcrumbs__list
          each val, idx in historyDataArr
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#" class="" title="")!= val

            if(idx < historyDataArr.length - 1)
              li.breadcrumbs__item
                span.breadcrumbs__icon
                  i.icon-font.icon-arr-dcc
                  i.icon-font.icon-arr-dcc

      else if(pageClassName === 'p-beginners')
        ul.breadcrumbs__list
          each val, idx in berginnerDataArr
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#" class="" title="")!= val

            if(idx < berginnerDataArr.length - 1)
              li.breadcrumbs__item
                span.breadcrumbs__icon
                  i.icon-font.icon-arr-dcc
                  i.icon-font.icon-arr-dcc

      else if(pageClassName === 'p-skin')
        ul.breadcrumbs__list
          each val, idx in skinDataArr
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#" class="" title="")!= val

            if(idx < skinDataArr.length - 1)
              li.breadcrumbs__item
                span.breadcrumbs__icon
                  i.icon-font.icon-arr-dcc
                  i.icon-font.icon-arr-dcc

        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#" class="" title="")!= "Legendary Outfits"

      else if(pageClassName === 'p-combos')
        ul.breadcrumbs__list
          each val, idx in combosDataArr
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#" class="" title="")!= val

            if(idx < combosDataArr.length - 1)
              li.breadcrumbs__item
                span.breadcrumbs__icon
                  i.icon-font.icon-arr-dcc
                  i.icon-font.icon-arr-dcc

        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#" class="" title="")!= "Legendary Outfits"

// SECTION breadcrumbs :: END