// SECTION pagination :: START

section#pagination.pagination
  .pagination__wrapper
    a.pagination__btn.pagination__btn-first(href="#" class="" title="" disabled)
      i.icon-font.icon-arr-dcc
      i.icon-font.icon-arr-dcc
    a.pagination__btn.pagination__btn-prev(href="#" class="" title="" disabled)
      i.icon-font.icon-arr-dcc

    .pagination__btn-wrapper
      a.pagination__btn.pagination__btn-num.is-active(href="#" class="" title="")!= "1"
      a.pagination__btn.pagination__btn-num(href="#" class="" title="")!= "2"
      a.pagination__btn.pagination__btn-num(href="#" class="" title="")!= "3"
      a.pagination__btn.pagination__btn-num(href="#" class="" title="")!= "4"
      a.pagination__btn.pagination__btn-num(href="#" class="" title="")!= "5"

      span.pagination__btn.pagination__btn-empty!= "..."

      a.pagination__btn.pagination__btn-num(href="#" class="" title="")!= "10"

    a.pagination__btn.pagination__btn-next(href="#" class="" title="")
      i.icon-font.icon-arr-dcc
    a.pagination__btn.pagination__btn-last(href="#" class="" title="")
      i.icon-font.icon-arr-dcc
      i.icon-font.icon-arr-dcc

// SECTION pagination :: END