// SECTION skin history :: START

section.skin.skin--history
  .skin__bg

  .skin__triangle
    img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

  .skin__wrapper

    .skin__history
      .skin__header
        i.icon-png.i-history
        h2!= "Shop Rotation History"

      .skin__body
        .skin__history-row.skin__history-row-0
          p.skin__history-text!= "Red Knight rotation history in the Fortnite Shop. Below you can see the first and last time when Red Knight could be bought from Item Shop, also how many days it was seen and the dates list. This cosmetic item can be re-added in the future, so check the store regularly."
          p.skin__history-text!= "If you like to see rotations history for other cosmetics item, please check our shop rotations page."

        .skin__history-row.skin__history-row-1
          .skin__history-note
            p!= "<span>Note:</span> Clicking on one of the date boxes below will allow you to see the full shop for that particular day."

        .skin__history-row.skin__history-row-2
          .skin__history-col
            div
              p!= "Last Available:"
              a(href='#').skin__history-block.skin__history-block-0
                span!= "September 11, 2018"
            div
              p!= "First Seen:"
              a(href='#').skin__history-block.skin__history-block-0
                span!= "January 25, 2018"
            div
              p!= "Times Seen:"
              a(href='#').skin__history-block.skin__history-block-0
                span!= "9 Times"


          .skin__history-col
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "September 11, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "July 6, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "January 27, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "August 9, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "February 20, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "January 26, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "July 7, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "February 19, 2018"
            div
              a(href='#').skin__history-block.skin__history-block-1
                span!= "January 25, 2018"

        .skin__history-row.skin__history-row-3

          .skin__history-ind.skin__history-ind-0
            span
            p!= "Featured"

          .skin__history-ind.skin__history-ind-1
            span
            p!= "Daily"

// SECTION skin history :: END