.s-leak__audio

  .s-leak__audio-bg

  .s-leak__audio-triangle
    img(src="./img/img-sleak-triangle-ipa-0.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-1.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-2.svg" alt="" title="")

  .s-leak__audio-wrapper

    .s-leak__audio-head

      .s-leak__title
        i.icon-font.icon-sound2
        p!= "Audio"

    .s-leak__audio-body

      .s-leak__audio-content
        div
          .b-skin.b-skin--small.b-skin--epic
            img(src="./img/img-avatar-ts.png" srcset="./img/img-avatar-ts@2x.png 2x" alt="" title="")

        div
          .s-leak__audio-wave
          .s-leak__audio-control
            div
              a.s-leak__audio-play(href="#" class="" title="")
                i.icon-font.icon-play-button

            div
              p!= "<span>Epic Games</span> <a href='#'><img src=\"./img/fortnite-small.png\" srcset=\"./img/fortnite-small@2x.png 2x\" alt=\"\" title=\"\"> FortniteSkins.net</a>"
              span!= "Nameitem Sound Effects"

            div
              a.s-leak__audio-volume(href="#" class="" title="")
                i.icon-font.icon-sound
                span


      .s-leak__audio-share
        div
          a.s-leak__audio-btn.s-leak__audio-btn--like(href="#" class="" title="")
            i.icon-font.icon-like-heart
            span!= "Like"
          a.s-leak__audio-btn.s-leak__audio-btn--embed(href="#" class="" title="")
            i.icon-font.icon-embed
            span!= "Embed"

        div
          a.s-leak__audio-like(href="" class="" title="")
            i.icon-font.icon-like-heart
            span!= "10"

          a.s-leak__audio-play-count(href="" class="" title="")
            i.icon-font.icon-play-button
            span!= "7"