// SECTION grants :: START

section#grants.grants

  .grants__triangle
    img(src="./img/img-grants-triangle-0.svg" alt="" title="")
    img(src="./img/img-grants-triangle-1.svg" alt="" title="")
    img(src="./img/img-grants-triangle-2.svg" alt="" title="")
    img(src="./img/img-grants-triangle-3.svg" alt="" title="")
    img(src="./img/img-grants-triangle-4.svg" alt="" title="")
    img(src="./img/img-grants-triangle-5.svg" alt="" title="")
    img(src="./img/img-grants-triangle-6.svg" alt="" title="")
    img(src="./img/img-grants-triangle-7.svg" alt="" title="")

  .grants__wrapper

    .grants__header
      p!= "Season 3 Rewards"

    .grants__badge
      .grants__badge-triangle
        img(src="./img/img-grants-badge-triangle.svg" alt="" title="")

      p!= "Season ends:"
      span!= "192 Days"

    .grants__content
      .grants__content-left

        .grants__progress-wrapper

          .grants__progress-box
            .grants__progress.grants__progress--blue

              .grants__progress-line.grants__progress-line--0
                a(href="#" class="" title="")
                  img(src="./img/img-grants-progress-main-0.png" srcset="./img/img-grants-progress-main-0@2x.png 2x" alt="" title="")

              .grants__progress-cover

                mixin swiperGrantsBlueLineContent()
                  -for(var idx = 1, countGrantsNum = 0; idx < 51; idx++, countGrantsNum++)
                    .swiper-slide
                      a.grants__num-btn(
                        href="#"
                        class!= (countGrantsNum <= 7) ? "grants__num-btn--" + (countGrantsNum): "grants__num-btn--" + (countGrantsNum = 0)
                        title=""
                      )!= idx
                      .grants__progress-line(class!= "grants__progress-line--" + val)
                        if(idx === 1)
                          a.grants__progress-btn.grants__progress-btn--green(href="#" class="" title="")
                          a.grants__progress-btn.grants__progress-btn--orange(href="#" class="" title="")
                        else if(idx === 4)
                          a.grants__progress-btn.grants__progress-btn--pink(href="#" class="" title="")
                          a.grants__progress-btn.grants__progress-btn--blue(href="#" class="" title="")
                        else if(idx === 8)
                          a.grants__progress-btn.grants__progress-btn--gray(href="#" class="" title="")

                +swiper('swiper-container--grantsBlueLine', 'swiperGrantsBlueLineContent', false, false, false)

          .grants__progress-box
            .grants__progress.grants__progress--orange

              .grants__progress-line.grants__progress-line--0
                a(href="#" class="" title="")
                  img(src="./img/img-grants-progress-main-1.png" srcset="./img/img-grants-progress-main-1@2x.png 2x" alt="" title="")

              .grants__progress-cover

                mixin swiperGrantsOrangeLineContent()
                  -for(var idx = 1; idx < 51; idx++)
                    .swiper-slide
                      .grants__progress-line(class!= "grants__progress-line--" + idx)
                        if(idx === 5)
                          a.grants__progress-btn.grants__progress-btn--green(href="#" class="" title="")
                          a.grants__progress-btn.grants__progress-btn--orange(href="#" class="" title="")
                          a.grants__progress-btn.grants__progress-btn--green(href="#" class="" title="")
                          a.grants__progress-btn.grants__progress-btn--orange(href="#" class="" title="")
                        else if(idx === 7)
                          a.grants__progress-btn.grants__progress-btn--pink(href="#" class="" title="")
                          a.grants__progress-btn.grants__progress-btn--blue(href="#" class="" title="")
                          a.grants__progress-btn.grants__progress-btn--blue(href="#" class="" title="")
                        else if(idx === 3)
                          a.grants__progress-btn.grants__progress-btn--gray(href="#" class="" title="")

                +swiper('swiper-container--grantsOrangeLine', 'swiperGrantsOrangeLineContent', false, false, false)

        .grants__square

      .grants__content-right

        .grants__avatar
          // (un)comment test images if need
          //img(src="./img/img-grants-avatar.png" srcset="./img/img-grants-avatar@2x.png 2x" alt="" title="")

        .grants__outfit
          .grants__outfit-badge
            p!= "outfit"
          p.grants__outfit-title!= "Mission Specialist"

          .grants__outfit-content
            img(src="./img/img-grants-outfit-triangle.svg" alt="" title="")

            p!= "All systems go."


// SECTION grants :: END