// SECTION sets :: START

section#sets.sets
  .sets__bg
    .sets__bg-top
    .sets__bg-bottom

      .sets__bg-figure
        img(src="./img/img-sets-figure-0.svg" alt="" title="")
        img(src="./img/img-sets-figure-1.svg" alt="" title="")

      .c-grid
        img(src="./img/img-sets-text-bg.svg" alt="" title="")

  .sets__bg-triangle
    img(src="./img/img-sets-triangle-0.svg" alt="" title="")
    img(src="./img/img-sets-triangle-1.svg" alt="" title="")
    img(src="./img/img-sets-triangle-2.svg" alt="" title="")

  .sets__wrapper
    .c-grid

      .sets__row.sets__row-0

        include ./_mainTitle

        .sets__subtitle!= "Here you can find all the sets from Fortnite Battle Royale."

      .sets__row.sets__row-1

        .sets__slogan
          p!= "Battle Royale All Sets"


      .sets__row.sets__row-2
        .sets__row-left

          p.sets__text!= "Each set has a least two items or more. All items from the same collection are similar and have a specific design that fits very well."
          p.sets__text!= "You can get the Fortnite Sets from the Item Shop or from the Battle Pass. Also, some cosmetic items are available in some promotional sets (Twitch Prime Pack)."
          p.sets__text!= "The rarity for each item in the set can be different, like one outfit can be legendary and pickaxe or glider can be rare or another item."

        .sets__row-right

          include ../common/_sectionBanner

      .sets__row.sets__row-3
        .sets__row-left

          .sets__notes
            p!= "<strong>Note:</strong> There are many more skins that are not in any of the sets. If you would like to see ALL the Fortnite Skins, please go <a href='#'>here!</a>"

        .sets__row-right

          .sets__search


// SECTION sets :: END