// SECTION skin view :: START

section#combo-preview.skin.skin--like.combo__like.combo__view

  .skin__wrapper

    .skin__like
      .skin__like-body

        .combo__like-wrapper
          div
            .combos__box

              .combos__box-bg
              .combos__box-triangle
                img(src="./img/img-combosbox-m-triangle-0.svg" srcset="" alt="" title="")
                img(src="./img/img-combosbox-m-triangle-1.svg" srcset="" alt="" title="")
                img(src="./img/img-combosbox-m-triangle-2.svg" srcset="" alt="" title="")
                img(src="./img/img-combosbox-m-triangle-3.svg" srcset="" alt="" title="")

              .combos__box-wrapper
                .combos__box-heading
                  div
                    i.icon-font.icon-i-combos
                    h1!= "Skin name"

                  //div
                    //.combos__box-like
                    //  .combos__box-like--bg
                    //
                    //  a.comments__btn-like(href="#" class="" title="")
                    //    i.icon-font.icon-like
                    //    span!= "525"
                    //  a.comments__btn-dislike(href="#" class="" title="")
                    //    i.icon-font.icon-dislike
                    //    span!= "211"

              .combos__box-wrapper
                .combos__box-left
                  a.combos__block.combos__block--common(href="#" combo-viewMain-skin-js)
                    .combos__block-top
                      img(src="" srcset="" alt="" title="")

                  .combos__box-title.combos__box--common
                    .combos__box-title--bg
                    .combos__box-title--triangle
                      img(src="./img/img-combostitle-triangle-1.svg" alt="" title="")
                      img(src="./img/img-combostitle-triangle-2.svg" alt="" title="")
                    p!= "Skin Name Here"

                  .e-skin__block-points
                    img(src="./img/img-skin-points-medium.png" srcset="./img/img-skin-points-medium@2x.png 2x" alt="" title="")
                    span!= "1500"

                .combos__box-right(combo-viewAdditional-skin-js)

                  each val, idx in [1,2,3,4,5]
                    div
                      a.combos__block.combos__block--common(style="display:none;" href="#" data-id!= idx class!= "combos__block-" + idx + ' combos__block--' + combosBlock[idx].classMod)
                        .combos__block-top
                          //.combos__block-badge
                          //  i.icon-png

                          .combos__block-top--img
                            img(src="" srcset="" alt="" title="")

                        .combos__block-bottom
                          if(idx === 0)
                            .b-skin__info--ticker
                              p!= "SKIN NAME"
                          else
                            .b-skin__info--wticker
                              p!= "SKIN NAME"

                          .e-skin__block-points
                            img(src="./img/img-skin-points.png" srcset="./img/img-skin-points@2x.png 2x" alt="" title="")
                            span!= "1500"

              .combos__box-wrapper
                .combos__box-bottom
                  .combos__box-total
                    .combos__box-total--bg

                    p!= "Total price:"
                    .e-skin__block-points
                      img(src="./img/img-skin-points-medium.png" srcset="./img/img-skin-points-medium@2x.png 2x" alt="" title="")
                      span!= "12,000"

// SECTION skin view :: END